a{
    color: dodgerblue;
    margin: 28px 74px;
    display: block;
}

a:hover{
    text-decoration: none;
}

input, textarea{
    display: block;
    margin: 0 0 20px 0px;
}

input{
    width: 580px;
}

label{
    margin: 45px 0 0 0;
    font: 14px verdana;
}

#editText{
    width: 580px;
}

body{
    padding-left: 55px;
}

.mce-panel {
    width: 750px !important;
}